/dts-v1/;
/plugin/;

/ {
    compatible = "allwinner,sun8i-h3";
};

&i2c0 {
    light-sensor@23 {
	compatible = "rohm,bh1750";
	reg = <0x23>;
	/* MTreg = 69 by default for bh1750 */
	mtreg = <0x45>;
	/* Up to 50% if You need to increase ready-time */
	//quality-lack = <0>;
	polling-time = <2>;
	hres-mode = <2>;
	status = "okay";
    };
};
